<hr>
<h3>{{ categoryName }}</h3>
<hr>

<nav class="bg-light d-flex m-0 p-0 justify-content-between">

  <span class="align-middle">1-48 of 216</span>
  <div class="btn-group dropleft mr-5">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      Sort By
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Rating</a>
      <a class="dropdown-item" href="#">Price Ascending</a>
      <a class="dropdown-item" href="#">Price Descending</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </div>

</nav>

<hr>

<div class="d-flex flex-row flex-wrap justify-content-around">
  <!--Displaying Cards-->
  <ng-container *ngIf="category === -1; else merchTemplate">
    <div *ngFor="let card of products" class="mb-5 d-flex h-100" style="flex-direction: column;">
      <button class="btn btn-outline-hover bg-transparent" style="width: 20rem;">
        <app-trading-card
          [imageUrl]="card.url"
          [title]="card.title"
          [description]="card.description"
          [rarity]="card.rarity">
        </app-trading-card>
        <div class="border bg-white mx-auto">
          <p class="mx-3 font-weight-bold align-middle pt-2" style="height: 3rem;">
            {{ card.title }} {{ card.rarity }} Trading card
          </p>
          <div class="d-flex justify-content-around mb-1">
            <p class="text-dark font-weight-bold my-auto" style="font-size: 1.5rem;">
              {{ card.price | currency }}
            </p>
            <button type="button" class="btn btn-primary btn-sm" style="width: 6rem;">Buy</button>
          </div>
        </div>
      </button>
    </div>
  </ng-container>

  <!--Displaying Merch-->
  <ng-template #merchTemplate>
    <div *ngFor="let merch of products" class="mb-5 d-flex h-100" style="flex-direction: column;">
      <button class="btn btn-outline-hover bg-transparent" style="width: 20rem;" (click)="navigateToDetailPage(merch.id)">
        <img [src]="merch.images[0]" class="w-100">
        <div class="border bg-white mx-auto">
          <p class="font-weight-bold align-middle pt-2" style="height: 3rem;">
            {{ merch.title }}
          </p>
          <div class="d-flex justify-content-around pb-2">
            <p class="text-dark font-weight-bold my-auto" style="font-size: 1.5rem;">
              {{ merch.price | currency }}
            </p>
            <button type="button" class="btn btn-primary btn-sm" style="width: 6rem;">Buy</button>
          </div>
        </div>
      </button>
    </div>
  </ng-template>
</div>