<h3>Reviews</h3>

<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p class="font-italic m-0 p-0">FrogHopper445</p>
        <p class="text-secondary m-0 p-0">Reviewed on August 20, 2024</p>
        <p class="font-weight-bold m-0 p-0">A Hidden Jem!</p>
        <p>
            I never expected to find a trading card dedicated to my favorite amphibian, 
            but this one exceeded all expectations! The artwork is stunning, 
            and the card has quickly become the highlight of my collection. Can't wait to get more like this!
        </p>
    </li>
    <li class="list-group-item">
        <p class="font-italic m-0 p-0">GreenMachine6</p>
        <p class="text-secondary m-0 p-0">Reviewed on August 5, 2024</p>
        <p class="font-weight-bold m-0 p-0">The Perfect Addition to My Deck!</p>
        <p>
            After I added this card to my deck, my friends have been compaining how OP it is!
            10/10 would buy again.
        </p>
    </li>
    <li class="list-group-item">
        <p class="font-italic m-0 p-0">MudStomper213</p>
        <p class="text-secondary m-0 p-0">Reviewed on August 17, 2024</p>
        <p class="font-weight-bold m-0 p-0">Not Enough Frog</p>
        <p>
            As someone who adores frogs, I dislike the lack of frog from this card.
            This site has a monopoly, thought, so I guess it's alright.
        </p>
    </li>
  </ul>